.desired-state, .start-state {
    background-color: #00ff00;
}

.black-spot{
    color: white;
    background-color: #000000;
}

.dark-blue-spot{
    background-color: #0066cc;
}

.blue-spot{
    background-color: #0099ff;
}

.light-blue-spot{
    background-color: #99ccff;
}   

.learner-element-circle-first{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 5px;
    right: 10px;
    background-color: #ffff00;
    border-radius: 50%;
    display: inline-block;
}

.learner-element-circle{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 5px;
    right: 10px;
    background-color: #ffff00;
    border-radius: 50%;
    display: inline-block;
    visibility: hidden;
}